spring:
  application:
    name: ZPI

  server:
    port: ${PORT:8080}
    ssl:
      key-store: classpath:keystore/keystore.p12
      key-store-password: ${KEY_STORE_PASSWORD}
      keyStoreType: PKCS12
      keyAlias: 1

  frontend:
    url: ${FRONTEND_URL:http://${FRONTEND_HOST}:${FRONTEND_PORT}}

  profiles:
    active: ${ACTIVE_PROFILE:dev}

  datasource:
    url: jdbc:postgresql://${POSTRESQL_HOST}/${POSTRESQL_DB}
    username: ${POSTRESQL_USER}
    password: ${POSTRESQL_PASSWORD}

  jpa:
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        event:
          merge:
            entity_copy_observer: allow
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
        globally_quoted_identifiers: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  security:
    oauth2:
      client:
        registration:
          google.client-id: ${GOOGLE_CLIENT_ID}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        mime:
          charset: UTF
        smtp:
          writetimeout: 10000
          connectiontimeout: 10000
          timeout: 10000
          auth: true
          starttls:
            enable: true
            required: true
    verify:
      host:
        res_leader: ${VERIFY_RES_LEADER_URL}

  messages:
    basename: messages
    encoding: UTF-8

  thymeleaf:
    encoding: UTF-8
    cache: false
    mode: HTML

  web:
    locale: pl_PL

frontend:
  url: ${FRONTEND_URL:http://${FRONTEND_HOST}:${FRONTEND_PORT}}
  