services:

  backend:
    image: backend:latest
    ports:
      - 8080:8080
    networks:
      - db
    environment:
      ACTIVE_PROFILE: prod
      SERVER_PORT: 8080
      FRONTEND_PORT: 3000
      FRONTEND_HOST: frontend
      POSTRESQL_HOST: db
      POSTRESQL_DB: zpi_db2
      POSTRESQL_USER: postgres
      POSTRESQL_PASSWORD: asdlkj000
      KEY_STORE_PASSWORD: asdlkj000
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: 260452@student.pwr.edu.pl
      MAIL_PASSWORD: asdlkj000
      GOOGLE_CLIENT_ID: 333365127566-llqb3rl4kcvvcnurr7cih7s126iu0e5v.apps.googleusercontent.com
    depends_on:
      - db

  frontend:
    image: frontend:latest
    ports:
      - 3000:3000
    environment:
      - REACT_APP_BACKEND_HOST=https://proj01.zpi.wit.pwr.edu.pl/api/
    networks:
      - db
    depends_on:
      - backend
      
  db:
    image: postgres:16.1-alpine
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: asdlkj000
      POSTGRES_DB: zpi_db2
    volumes:
      - db:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - db

volumes:
  db:
    driver: local

networks:
  db:
    driver: bridge