body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active , .pagination button.active{
  background-color: #9A342D !important;
  color: white !important;
  border-color: #9A342D !important;
}

.custom-checkbox:checked {
  accent-color: #9A342D;
}

#sign-in-button {
  width: 20%;
}

/* Custom tables */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  margin: 10px 0px;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.custom-table tbody td.centered {
  text-align: center;
}

.custom-table th {
  padding: 10px;
  background-color: #9A342D;
  color: white;
}

.custom-table td {
  padding: 10px;
}

.custom-table td .coverall {
  width: 100%;
}

/* Pagination */
.pagination {
  display: flex;
  float:right;
  justify-content: center;
}

.pagination button {
  padding: 5px 15px;
  margin: 10px 5px;
}

.pagination input{
  max-width: 40px;
  appearance: textfield;
  text-align: center;
}

.pagination .text {
  padding: 5px 5px;
  margin: 10px 0px;
  margin-left: 5px;
}

.link-style {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.page-margin {
  margin-top: 20px;
  margin-bottom: 120px;
}

.bold {
  font-weight: bold;
}

/* Custom button */
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9A342D;
  color: white;
  border: 1px solid #9A342D;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.custom-button:hover {
  text-decoration: underline;
}

.another-color{
  background-color: #888888;
  border: 1px solid #888888;
}

/* Expanded details */
.custom-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

ul {
  list-style: circle;
  margin-left: 20px;
}

li {
  margin: 10px;
}

ul > li > ul {
  list-style: none;
}


.custom-pwr-button{
  background-color: #9A342D !important;
  border-color: #9A342D !important;
  color: white;
}

.resizable-input {
  resize: none;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}

.resizable-input::-webkit-scrollbar {
  width: 0.5em;
}

.resizable-input::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.list-group-item-hover:hover {
  background-color: lightgray; 
  cursor: pointer; 
}

.lang-link-active {
  text-decoration: underline;
  color: #9A342D !important;
}
